<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NFT dek</title>

    <script async type="text/javascript" src="{% static 'main/js/index.js' %}"></script>
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">

  </head>
  <body onload="PostAddressAccount()" id="body">


    <nav class="menu">
    <div class="addpaymant">
        <div>
            <img src="{% static 'main/images/Icon/add.png' %}" alt="">
            <buttom onclick="getAccount()"><div id="result"></div></buttom>
        </div>
    </div>
    <div class="logo">
        <h1>NFT dek</h1>
    </div>
    </nav>


    <div class="information">
        <div class="img_of_nft">
            <img id="idImg" alt="" src="/media/images/green.png">
            <!-- <img id="image_to_id" alt=""> -->
        </div>
        <div class="h1of">
            <!-- <h1>Vakko User</h1> -->
            <div class="information_owner" id="ownerOf"></div>
        </div>
        <div class="h2of">
            <!-- <h2 style="font-size: 24px;">Vakko Land</h2> -->
            <div class="h2of_idnft" style="font-size: 24px;" id="idnft"></div>
        </div>

        <div class="h2of">
            <!-- <h2 style="font-size: 24px;">Vakko Land</h2> -->
            <button type="button" name="button" class="" style="visibility: hidden" id='#Id'>BUY</button>
        </div>

        <div class="option">
            <!-- <p>Мой первый nft. Я верю в проект и знаю что он будет популярным и я буду богатым.</p> -->
            <div class="option_description" id="description" style="visibility: hidden"></div>
        </div>
        <div class="paymentclass">

            <div class="crypto_coin">
                <img class="cr" src="{% static 'main/images/crypto.png' %}" alt="">

                <div class="crytpo_wallet">
                    <img src="{% static 'main/images/metamask.png' %}" alt="">
                </div>
            </div>
            <div class="Name_of">
                <p>Metamask Etherium</p>
            </div>
        </div>
    </div>



    <!--
   БЛОК ДЛЯ редактирования картинки и описания
-->
    <div class="buy_info">
        <!-- <div class="photo">
            <img src="{% static 'main/images/OMgpng.png' %}">
            <div class="uplod_div">
                <img class="upload" src="{% static 'main/images/upload.png' %}">
                <h1>ЗАГРУЗИТЕ ФОТО</h1>
             </div>
        </div> -->
        <div class="form">
            <!-- <form> -->
                <!-- <label class="labelname">Имя</label>
                <br>
                <input class="input_name" type="text" name="name" placeholder="" required>
                <br> -->
                <!-- <label>Описание</label>
                <br> -->
                <!-- <textarea class="input_option"></textarea> -->


            <!-- </form> -->

            <form id="forma" method="post" enctype="multipart/form-data" style="display: none">
              <!-- {% csrf_token %} -->
              <div class="uplod_div">
                  <img class="upload" src="{% static 'main/images/upload.png' %}">
                  <h1>ЗАГРУЗИТЕ ФОТО</h1>
              </div>
              <!-- <input type="file" id="get_num_image" name="get_num_image" value /> -->
              {% csrf_token %}
              {{ form.image }}<br><br><br>
              <label>Описание</label><br>
              {{ form.description }}<br>
              <!-- <h3 class="title_form">Id</h3> -->
              {{ form.id_nft }}<br>
              <span>{{ error }}</span>

              <div class="special_name" id="idnft2"></div>

              <div class="button_save">
                  <button type="submit" >SAVE</button>
              </div>

              <!-- <input type="text" id="get_num" name="get_num" value />
              <button id="add" class="btn">Add</button> -->
            </form>

        </div>

        <!-- <h1 class="special_name">Кординанты</h1> -->

        <!-- <div class="cordinate">
            <div class="Xcor">
                <h3>X</h3> <div class="cordx"><p>213</p></div>
            </div>
            <div class="Ycor">
                <h3>Y</h3> <div class="cordy"><p>21</p></div>
            </div>
        </div> -->
        <!-- <div class="button_save">
            <button type="button" >SAVE</button>
        </div> -->
    </div>


    <div class="top_box"></div>
    <div class="left_box"></div>
    <div class="right_box"></div>
    <div class="bottom_box"></div>
    <div class="bottom_botoom"></div>
    <div class="top_top"></div>


    <!-- Заполнить БД -->
    <!-- <button type="button" name="button" onclick="bdwrite()">write</button> -->

    <div id="map" class="map">
      {% for i in images %}
        <!-- <img id="{{i.id_nft}}" class="nft" src="{{i.image.url}}" alt=""> -->
        <div class="nft">
          <img id="{{i.id_nft}}" class="nft_img" src="{{i.image.url}}" alt="">
        </div>
      {% endfor %}
    </div>
    <!-- <button class="zoom"onclick="zoom(true)" type="button" name="button">+</button> -->
    <!-- <button class="unzoom"onclick="zoom(false)" type="button" name="button">-</button> -->


    <!-- <button type="button" onclick="getAccount()" name="button" class="nav_link_button"><div id="result"></div></button> -->
    <!-- <button type="button" onclick="read(6)" name="button" class="nav_link_button">Read</button> -->
    <!-- <br>Owner: <div class="" id="ownerOf"></div> -->

    <!-- Id NFT: <div class="" id="idnft"></div> -->

    <!-- <div class="" id='des' style="visibility: hidden">
      Description: <div class="" id="description"></div>
    </div> -->

    <!-- <button type="button" name="button" class="nav_link_button" style="visibility: hidden" id='#Id'>Mint</button> -->
    <!-- <form method="post" enctype="multipart/form-data" id="forma" style="visibility: hidden">
      {% csrf_token %}
      <h3 class="title_form">Description</h3>
      {{ form.description }}<br>
      <h3 class="title_form">Id</h3>
      {{ form.id_nft }}<br>
      <br><h3 class="title_form">Upload image</h3>
      {{ form.image }}<br><br><br>
      <span>{{ error }}</span>
      <button class="button_click" type="submit">Upload</button>
    </form> -->
    <!-- <div class="">
      {% for el in images %}
        {{el.description}}
        <img class="" src="{{ el.image.url }}" alt="">
      {% endfor %}
    </div> -->
    <!-- <div class="">
      {% for el in images %}
        {{el.description}}
      {% endfor %}
    </div> -->
  </body>
</html>
